.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  white-space: nowrap;
  cursor: pointer;
}

.header * {
  color: white;
}

.menu {
  float: left;
  width: 50%;
}

.controlMenu {
  float: right;
  width: 27%;
}